[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-rofi = {git = "https://github.com/brumar/python-rofi.git", editable = true}
notify-send = "*"

[dev-packages]

[requires]
python_version = "3.9"
