[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-rofi = {file = "file:///home/david/repos/python-rofi/"}
notify-send = "*"

[dev-packages]

[requires]
python_version = "3.9"
